@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'JetBrains Mono', sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.background-transition-class {
    transition-property: background-color, border-color, text-decoration-color, fill, stroke, opacity, transform, filter, background;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 300ms;
}

.fake-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

@layer utilities {

    /*
      Chromium browsers don't render nested backdrop filters.
      As a workaround, add 'before:' to the outer filter, along with 'before:backdrop-hack':
  
        <div class="before:backdrop-blur-md before:backdrop-hack>
          <div class="backdrop-blur-md"></div>
        </div>
  
      See https://stackoverflow.com/a/76207141.
    */
    .backdrop-hack {
        @apply absolute inset-0 -z-10;
    }
}

@keyframes rainbow {
    0% {
        background-position: -100%;
    }

    100% {
        background-position: 100%;
    }
}

.rainbow-text {
    font-weight: bold;
    /* Optional: make text bold */
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 200% 100%;
    /* Make the gradient larger than the text */
    background-clip: text;
    /* Apply the gradient to the text itself */
    color: transparent;
    /* Make the text transparent to see the gradient */
    animation: rainbow 3s linear infinite;
    /* 3 seconds duration, infinite loop */
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --color-duration-time: 300ms;
        --page-change-duration-time: 500ms;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --background: 0 0% 7%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

#a1logo {
    transform: scaleX(-1);
}

#a1path {
    fill: none;
    stroke: hsl(var(--primary));
    /* 线条颜色 */
    stroke-width: 20;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 0;
    /* 设定虚线长度，这里是路径的估算长度 */
    stroke-dashoffset: 0;
    /* 初始路径不可见 */
    animation: draw 5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    filter: url(#glow);
    /* 应用炫光效果 */
}

/* 定义路径绘制的动画 */
@keyframes draw {
    from {
        stroke-dashoffset: 3000;
        /* 从完全不可见开始 */
    }

    to {
        stroke-dashoffset: 0;
        /* 结束时路径完全绘制出来 */
    }
}

@keyframes glow {
    0% {
        stroke: #3498db;
    }

    50% {
        stroke: #1abc9c;
    }

    100% {
        stroke: #e74c3c;
    }
}

.header-theme {
    background-color: var(--background);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1300px;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}


/* 自定义终端主题 */
#terminalEditor {
    /* @apply backdrop-blur-sm; */
    border-radius: 0 !important;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE 11 */
    scrollbar-width: none;
    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.xterm .xterm-viewport {
    background-color: transparent !important;
}

.xterm-selection div {
    opacity: 0.4;
}

.xterm-decoration-top {
    background-color: transparent !important;
}

.index_editor__JoDSg .index_caret__VS4iV {
    animation: index_blink__FJp0- 0.3s ease-in-out !important;
}

.index_caretAfter__6aXPx {
    /* opacity: 0.9!important; */
    width: 2px !important;
}

.transition-transform_bordercolor {
    transition-property: border-color, transform, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.xterm-rows span {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

#scroller {
    /* fill parent */
    display: block;
    width: 100%;
    height: 100%;

    /* set to some transparent color */
    border-color: rgba(0, 0, 0, 0.0);
    /* here we make the color transition */
    transition: border-color 0.3s linear;
    /* make this element do the scrolling */
    overflow: auto;
}

#scroller:hover {
    /* the color we want the scrollbar on hover */
    border-color: rgba(0, 0, 0, 0.1);
}

#scroller::-webkit-scrollbar,
#scroller::-webkit-scrollbar-thumb,
#scroller::-webkit-scrollbar-corner {
    /* add border to act as background-color */
    border-right-style: inset;
    /* sum viewport dimensions to guarantee border will fill scrollbar */
    border-right-width: 6px;
    width: 6px;
    /* inherit border-color to inherit transitions */
    border-color: inherit;
}

.xterm-viewport {
    overflow: hidden!important;
}

::-moz-selection {
    background: hsl(var(--foreground) / 0.9);
    color: hsl(var(--background));
}

::selection {
    background: hsl(var(--foreground) / 0.9);
    color: hsl(var(--background));
}

.stack {
	width: 85%;
	/* max-width: 400px; */
	transition: .25s ease;
	&:hover {			
		transform: rotate(5deg);
		.card:before {
			transform: translatey(-2%) rotate(-4deg);
		}	
		.card:after {
			transform: translatey(2%) rotate(4deg);
		}
	}
}

.card {
	min-height: 115px;
    /* height: 100%; */
	border: 4px solid;
    border-color: hsl(var(--foreground));
    border-radius: 10px;
	background-color: hsl(var(--background));
	position: relative;
	transition: .15s ease;
	cursor: pointer;
	/* padding: 5% 5% 15% 5%; */
	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		border: 4px solid;
        border-radius: 10px;
		background-color: hsl(var(--background));
		transform-origin: center center;
		z-index: -1;
		transition: .15s ease;
		top: 0;
		left: 0;
	}
	
	&:before {
		transform: translatey(-2%) rotate(-6deg);
	}
	
	&:after {
		transform: translatey(2%) rotate(6deg);
	}
}


/* pixel style */
/* .pixel-border {
    border-style: solid;
    border-image-source: url("/images/pixels/border.png");
    border-image-repeat: repeat;
    border-image-slice: 6 6 6 6;
    border-radius: 30px;
    image-rendering: pixelated;
    border-image-width: 18px;
    border-width: 15px;
    padding: 12px;
    background: url("/images/pixels/background.png") repeat;
}

.pixel-button {
    @apply select-none;

    border-style: solid;
    border-image-source: url("/images/pixels/border2.png");
    border-image-repeat: repeat;
    border-image-slice: 6 6 6 6;
    border-radius: 30px;
    image-rendering: pixelated;
    border-image-width: 10px;
    border-width: 7px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 80px;
    background: url("/images/pixels/background2.png") repeat;

    transition-property: border-image-source, background;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pixel-button:hover {
    border-image-source: url("/images/pixels/border2_hover.png");
    background: url("/images/pixels/background2_hover.png") repeat;
}

.pixel-button:active {
    border-image-source: url("/images/pixels/border2.png");
}

.pixel-tree-border {
    border-style: solid;
    border-image-source: url("/images/pixels/tree_border.png");
    border-image-repeat: repeat;
    border-image-slice: 8 8 8 8;
    image-rendering: pixelated;
    border-image-width: 15px;
    border-width: 5px;
    padding: 12px;
} */